.recherche {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 800px;
    margin: 0 auto; /* Centre le wrapper */
    margin-bottom: 50px;
}
label {
    font-size: 20px;
    margin-bottom: 10px;
}
#radius {
    width: 200px;
    height: 50px;
    font-size: 16px;
}
.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.recherche #search {
    width: 300px;
    background-color: rgb(236, 236, 236);
    cursor: pointer;
    height: 50px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.autocomplete-wrapper {
    display: inline-block;
    position: relative;
}
.autocomplete-list {
    position: absolute;
    width: 100%;
    padding: unset;
    margin: unset;
    max-height: 250px;
    overflow-y: auto;
}
.autocomplete-items {
   border: 1px solid #e9e9e9;
   border-top: unset;
   padding: 15px;
}
.autocomplete-active {
    color: aliceblue;
}
.autocomplete-items:hover, .autocomplete-active {
    background-color: rgb(19, 81, 241);
}
.autocomplete {
    position: absolute;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 4px;
    overflow: hidden;
}

.button {
    background-color: rgb(19, 81, 241);
    color: white;
    font-size: 20px;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 15px;
}

#map { 
    height: 600px;
    width: 800px;
    float: right;
}
