<footer>
    <div class="footer">
        <div class="contacter">
          <div class="group-2">
            <div class="text-piezeau">
              <div class="piez-eau">
              PIEZ’EAU
              </div>
              <span class="stations-chroniques-chroniques-en-temps-rel">
                <a href="/stations" class="stations">Stations</a>
                <a href="/chroniques" class="chroniques">Chroniques</a>
                <a href="/chroniques_tr" class="chroniques-tr">Chroniques En Temps Réel</a>
                <a href="/alertes" class="alertes">Alertes</a>

              </span>
            </div>
            <div class="text-apropos">
              <div class="propos">
              Fonctionnalités du site
              </div>
                <span>1/ Explorez plus de 20 000 stations en fonction de communes spécifiques, avec la possibilité de personnaliser votre recherche dans un rayon de 5 km, 10 km ou 20 km. Accédez également à des informations détaillées sur chaque station.</li><br><br>
                <span>2/ Découvrez les graphiques des chroniques historiques des nappes piézométriques sur le long terme pour analyser ses tendances et ses variations au fil des années. Possibilité d’examiner des statistiques clés telles que le niveau maximum atteint, le niveau minimum observé, la moyenne des niveaux enregistrés, ainsi que l'écart type.</span><br><br>
                <span>3/ Filtrez vos recherches de stations des chroniques en temps réel par département et accédez aux niveaux des nappes souterraines, aux dates des dernières mesures, et à l'état actuel des stations indiqué par des codes couleurs distincts représentant statistiquement l'état de chaque station. De plus, vous avez également la possibilité de visualiser les graphiques des niveaux des nappes pour l'ensemble des stations de chaque département.</span>
            </div>
          </div>
          <div class="contact">
            <div class="contacter-piez-eau">
            Contacter PIEZ’EAU
            </div>
            <div class="rectangles">
              <div class="votre-nom-1">
                <input type="text" class="votre-nom" placeholder="Votre nom *">
              </div>
              <div class="votre-mail-1">
                <input type="text" class="votre-mail" placeholder="Votre mail *">
              </div>
              <div class="votre-message-1">
                <input type="text" class="votre-message" placeholder="Votre message *">
              </div>
              <div class="envoyer-1">
                <span class="envoyer">
                Envoyer
                </span>
                <div class="icbaseline-send">
                  <img class="vector" src="/static/vectors/vector_4_x2.svg"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="icon">
          <div class="uilinstagram">
            <img class="vector-1" src="/static/vectors/vector_5_x2.svg" />
          </div>
          <div class="evafacebook-outline">
            <img class="vector-2" src="/static/vectors/vector_3_x2.svg" />
          </div>
          <div class="simple-line-iconssocial-twitter">
            <img class="vector-3" src="/static/vectors/vector_x2.svg" />
          </div>
          <div class="ripinterest-line">
            <img class="vector-4" src="/static/vectors/vector_1_x2.svg" />
          </div>
          <div class="ritiktok-line">
            <img class="vector-5" src="/static/vectors/vector_2_x2.svg" />
          </div>
        </div>
      </div>
</footer>