<nav class="navbar">
    <div class="navbar-logo">
        <a href="/"><img src="../static/images/logo.png" alt="Logo"><span>PIEZ'EAU</span></a>
    </div>
    <ul class="navbar-menu">
        <li><a href="/stations" class="navbar-link">Stations</a></li>
        <li><a href="/chroniques" class="navbar-link">Chroniques</a></li>
        <li><a href="/chroniques_tr" class="navbar-link">Chroniques en temps réel</a></li>
        <li><a href="/alertes" class="navbar-link">Alertes</a></li>
        <li><a href="#about-section" class="navbar-link a-propos">À PROPOS</a></li>
    </ul>
</nav>
